.homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1{
  color: #ddd;
}


.main-content {
  flex: 1; 
}

.features-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.feature-block {
  flex: 1;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.feature-block:hover {
  background-color: #e0e0e0;
}
.hero-section {
  text-decoration: #ddd;
}


